*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/git_toolbox_prj.xml
/.idea/deploymentTargetSelector.xml
/.idea/GrepConsole.xml
/.idea/material_theme_project_new.xml
/.idea/other.xml
/.idea/git_toolbox_blame.xml
/.idea/emulatorDisplays.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
key.properties
keystore.jks
.kotlin
/google-services.json
/mobile/google-services.json
/tv/google-services.json
/core.data/build/
/core.designsystem/build/
/core.util/build/
/build/
/tv/build
/mobile/build
/core/data/build
/core/designsystem
/core/util/build
/.kotlin
/.gradle
/.github/ISSUE_TEMPLATE